<!-- PrimeNG Dialog for Editing Product -->
<p-dialog [(visible)]="visible" [modal]="true" [baseZIndex]="10000" [appendTo]="'body'" header="Add New Product"
          [style]="{width: '400px'}">
  <div class="p-fluid" [formGroup]="form">
    <div class="p-field">
      <label for="productName">Product Name</label>
      <input id="productName" type="text" pInputText
             formControlName="name" />
    </div>
    <div class="p-field">
      <label for="productDescription">Product Description</label>
      <textarea id="productDescription" rows="3" pInputTextarea
                formControlName="description"></textarea>
    </div>
  </div>
  <p-footer>
    <p-button label="Save" icon="pi pi-check" styleClass="p-button-success" (click)="saveProduct()"></p-button>
    <p-button label="Cancel" icon="pi pi-times"  styleClass="p-button-secondary" (onClick)="onCancel()"></p-button>
  </p-footer>
</p-dialog>
