<div class="products-banner">
  <p-card>
    <div class="banner-content">
      <h1>Big Sale</h1>
      <h2>Grab them before they are gone!</h2>
      <p-button #showProducts
                styleClass="p-button-rounded banner-action"
                label="Check out our Products"
                (click)="loadProducts()">
      </p-button>
    </div>
  </p-card>

  <!-- Create New Product Button -->
  <div class="create-product">
    <p-button label="Create New Product" icon="pi pi-plus" styleClass="p-button-success"></p-button> <!-- add modal here. sme here for the creation.-->
  </div>

  <!-- Products Grid -->
  <div class="products-grid">
    @for (product of products(); track product.id) {

      <!-- Put the product card in its own component -->
      <!-- you can wrap it in an a tag and then use query params to pass the product id, and have it like products/id=?345 -->
      <p-card class="product-card" [style.cursor]="'pointer'"> <!-- implement the ckicking behaviour -->
        <div class="product-content">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          <!-- Product Actions -->
          <div class="product-actions"> <!-- routes??? -->
            <p-button label="Edit" icon="pi pi-pencil" styleClass="p-button-warning" (click)="editProduct(product)"></p-button><!-- should I just add an event as a parameter? if yes, how to I get the product? -->
            <!-- add a form or dialogue here for the editing of the product -->
            <p-button label="Delete" icon="pi pi-trash" styleClass="p-button-danger" (click)="deleteProduct(product.id)"></p-button>
          </div>
        </div>
      </p-card>
    }
  </div>
</div>
